.div1{
  background-color: #e0ebe8;
padding-top: 100px;
position: relative;
text-align: center;
margin:auto;

  }
body{
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;

}
hr{
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills{
  padding-bottom: 30px;
margin:  100px auto 100px auto;
}


.th{
  text-align: left
}
.hii{
  padding-top: 20px;
  }

.topcloud{
  position: absolute;
  right: 300px;
  top: 20px;

}
.div2{

  background-color: white;
  padding: 40px;

}

.para{
  width:30%;
  font-family:sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 2;

}
.para1{

  font-family:sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 2;

}

.bottomcloud{

position: absolute;
left: 250px;





}
.intro{
  width:40%;
  font-family:sans-serif;
  text-align: left;
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 2;

}

hr {

  border-style:none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;

  width:5%;

}

.f{
  width: 15%;

  float: right;



}
.e{
  width: 25%;

  float: right;



}

.hi{
  color:#45b29a;
}

.r{
  width: 90%;
text-align: left;
margin: 0;
padding-bottom: 50px;


}
.whoiam{
  color:#45b29a;
  font-family: 'Sacramento', cursive;

  font-size: 437.5%;

}
.myimg{
  border-radius: 90%;
  height: 250px;
width:250px;
}

.hii{
    color:#0F9D58;

}

.gmi{
  height: 55%;
  width: 35%;
padding-left: 100px;



}

.nmi
{height: 40%;
width: 30%;

padding-right: 100px;
padding-top: 30px;



}
.ggmi{
  height: 55%;
  width: 35%;




}
.nnmi
{height: 40%;
width: 30%;




}


.whatido{


color:#45b29a;
font-size: 20px;




}
.jkl
{
  color: #0F9D58;
  padding-top: 20px;
}


.bn{
  background-color: #0F9D58;
  display: inline-block;
  color: white;
  padding: 10px;
}






.div3{
  background-color: #e0ebe8;
  text-align: center;
}
